body{
    padding: 0;
    margin: 0;
    font-family: "Rethink Sans", sans-serif;
    background-color: #010100;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 60px;
    /*top: 40px;
    right: 60px;
    left: 60px;*/
    background-color: rgba(41, 41, 41, 0.637);
    padding: 22px 30px;
    /*Pposition: fixed;*/
    border-radius: 10px;
}
a,p,span,tr,td,legend,label{
    color: white;
    text-decoration: none;
}
table{
    border-collapse: separate;
    width: 80%;
    border-spacing: 10px;
    border-spacing: 10px;
    border: none;
}
th,td{
    border: 1px solid rgba(255, 255, 255, 0.342);
}
.logo{
    color: white;
    font-size: 28px;
    font-weight: 700;
}
nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.cta{
    background-color: white;
    color: black;
    padding: 12px 25px;
    border-radius: 8px;
}
a:hover{
    color: rgb(45, 206, 255);
}
.cta:hover{
    background-color: rgb(45, 206, 255);
    color: #010100 !important;
    transition: 0.5s;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0px;
    background-color:hsla(60,100%,0%,1);
    background-image:
    radial-gradient(at 99% 67%, hsla(194, 100%, 57%, 0.212) 0px, transparent 50%),
    radial-gradient(at 45% 89%, hsla(350, 98%, 56%, 0.418) 0px, transparent 50%);
}
.main-title{
    font-size: 55px;
    font-weight: 600;
    margin: 5px;
}
span{
    font-family: "lora";
    font-size: 45px;
    font-weight: 300 !important;
}
span:hover{
    color: rgb(45, 206, 255);
}
.main-description{
    font-size: 19px;
    margin:30px;
    font-family: "lora";
    font-style: italic;
}
.titles{
    font-size: 20px;
    padding-left: 8px;
    border-left: solid 4px rgb(45, 206, 255);
    margin: 10px 0 ;
}
.mission-content{
    font-size: 35px;
    font-family: "lora";
    margin: 0;
}
.our-mission, .what-we-do{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.what-we-do{
    background-color:hsla(60,100%,0%,1);
    background-image:
    radial-gradient(at 87% 89%, hsla(194, 100%, 57%, 0.195) 0px, transparent 50%),
    radial-gradient(at 13% 77%, hsla(350, 98%, 56%, 0.300) 0px, transparent 50%);
}
.mission-container, .what-we-do-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cards{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.card{
    padding: 30px 30px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 0px solid rgba(255, 255, 255, 0.116);
}
.card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
i{
    font-size: 60px;
    color: white;
}
button{
    border: none;
    padding: 13px 20px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(45, 206, 255);
}
.card-title{
    font-size: 20px;
}
.get-quote{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
}
.quote-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.055);
    padding: 20px 40px;
    border-radius: 10px;
}
.quote-title{
    font-size: 28px;
}
.quote-cta{
    font-size: 18px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    cursor: pointer;
}
td{
    padding: 30px;
    font-size: 30px;
    border-radius: 10px;
}
.table-section{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
td:hover{
    background: rgba(45, 206, 255, 0.418);
    transition: 0.5s;
}
#last-cell{
    background-color: hsla(350, 98%, 56%, 0.300);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bi-arrow-right{
    font-size: 25px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.342);
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-arrow-right:hover{
    background-color: rgba(45, 206, 255, 0.418);
}
.pricing-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price-card{
    background-color:hsla(0,0%,7%,1);
    background-image:
    radial-gradient(at 87% 89%, hsla(194, 100%, 57%, 0.123) 0px, transparent 50%),
    radial-gradient(at 13% 77%, hsla(350,98%,56%,0.123) 0px, transparent 50%);
    padding: 40px 40px;
    border-radius: 20px;
    margin: 40px 0;
}
.price-card:hover{
    border: 1px solid rgba(255, 255, 255, 0.37);
    transition: 0.5s;
}
.price-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    
}
.price-description{
    text-align: center;
    font-family: "lora";
    font-style: italic;
}
.plan-options{
    margin: 50px 0;
}
.second-card{
    transform: scale(1.1);
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.37);
}
.last-section{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 50%;
    display: flex;
    flex-direction: column;

}
#firstname{
    width: 49%;
}
#lastname{
    width: 49%;
}
.namerow{
    display: flex;
    gap: 15px;
}
input, select{
    margin: 10px 0;
    padding: 15px 10px;
    background: #010100;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
}
textarea{
    margin: 10px 0;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.5) ;
}
textarea{
    padding: 15px 10px;
    background: #010100;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 14px;
}
#submit{
    background-color: white;
    border: none;
    outline: none;
    color: black;
}
#submit:hover{
    background-color: rgb(45, 206, 255);
    border: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}
#contact-title{
    margin: 30px 0;
}
input:valid{
    border: 2px solid green;
    background-color: transparent;
}
input:invalid{
    border: 2px solid red;
}
footer{
    background-color: white;
    margin: 15px;
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.copyright{
    color: black;
}
.footer-icon{
    color: black;
    font-size: 18px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}
.footer-icon:hover{
    color: rgb(0, 72, 94);
    transition: 0.5s;
    cursor: pointer;
}


/*--------- REPONSIVE DESIGN ---------*/
@media (min-width: 769px) {
    .cards{
        display: flex;
        flex-direction: row !important;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }
    .card{
        width: 20%;
    }
    }

@media (max-width: 768px) {
    #single-link{
        visibility: hidden;
    }
    .main-title{
        font-size: 30px;
    }
    span{
        font-size: 30px;
    }
    .main-description{
        font-size: 18px;
        text-align: center;
    }
    .mission-content{
        font-size: 22px;
    }
    .cards{
        flex-direction: column;
    }
    .quote-title, .quote-cta{
        font-size: 15px;
        width: 40%;
    }
    .pricing-container{
        flex-direction: column;
    }
    form{
        width: 100%;
    }
    footer{
        padding: 20px 10px;
    }
    .footer-right{
        width: 50%;
    }
    .copyright, .footer-icon{
        text-align: right;
        font-size: 13px;
    }
    .table-section{
        display: none;

    }
    header{
        margin: 40px 20px;
    }
    .logo{
        font-size: 20px;
    }
    .logospan{
        font-size: 25px !important;
}
}